
header{
  height: 700px;
    background-image:url(../images/bgimage.jpeg);
    background-position: center;
    margin: 0.5%;
   
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap:2%;
   padding-right: 2%;
   
}
nav ul li a{
    
    text-decoration: none;
    color:black ;
    font-size: 20px;
      
}
nav ul li a:hover{
    scale:1.1;
    color: brown;
}
h1{
    color: aliceblue;
  padding-top: 1%;
  padding-left: 2%;
   font-size: 30px;
}

.headercap{
    color: black;
    font-size: 60px;
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
}
.headerdes{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding: center;
    
}
button{
    background-color: rgb(221, 21, 21);
    color: aliceblue;
    font-size:20px ;
    border-radius: 10%;
    margin-left:40% ;
    
}
button:hover{
    background-color: rgb(236, 24, 187);
    scale:1.1;
}
.coursestop{
    text-align: center;
    font-weight: bold;
    font-size:40px ;
}
.coursedes{
    text-align: center;
}
main dl{
    display: flex;
    gap: 2%;
    margin-left: 3%;
    margin-right: 3%;


}
.coursecard{
    border:30px ;
    border-color:black;
    background-color: #fdeeea;
    border-radius: 5%;
    text-align: center;
    padding:2% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.coursecard:hover{
    scale:1.1 ;
}
main dl dt{
    font-weight: bold;
    text-align: center;
}
.unis p{
    text-align: center;
}
.unis h2{
    text-align: center;
    font-weight: bold;
    font-size:40px ;
}
.card-cont{
    display: flex;
    justify-content: center;
    gap:0.3%;
    margin-left: 10%;
    margin-right: 10%;
}

.unicard img{
height: 500px;
width: 80%;
border-radius: 5%;

}
.facilities h2{
text-align: center;
font-weight: bold;
font-size:40px ;

}
.facilities p{
text-align: center;

}
.faccardcont{
    display: flex;
    gap: 0.3%;
    margin-left: 5%;
    padding: 5%;
    
}
.faccardcont img{
    width: 70%;
    height: 60%;
}
.faccard{
    text-align: center;
}
